<div class="container">
  <%= render @users %>
</div>
<div class="load-more-container">
	<%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
	<%= link_to "Load More", users_path, class: "load-more" %>
</div>
